<section>
	<div id="map" style="height:400px;"></div>
	<div class="contactContent left">
		<p class="contactTitle">Pop in for a brew...</p>
		<div class="lineShort"></div>
		<div class="contactParagram">
			<p class="contactDescription">Got an exciting new project? Need our help?</br>Submit your brief here and we'll be in touch shortly to give you a quotation.</p>
			<p class="contactDescription">If you'd prefer to chat through your ideas, give us a Message with <a  target="_blank" href="https://www.facebook.com/profile.php?id=100004390182832">Facebook Private Message</a> and we'll discuss the process with you.</p>
		</div>
	</div>
</section>

<script src="scripts/googleMap.js" type="text/javascript"></script>
<script async defer src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDI7h6baAhJJetHP9aMk-eCjYup4nvLxgM&callback=initMap">
</script>