<section>
	<img class="AboutImg shadow" src="img/logo.png">
	<p class="aboutP">Our Start.<br>In Studios.</p>
	<img class="shadow" src="img/chen.png">
	<p class="aboutP"><i>Yue-Ming Chen</i></p>
	<p class="aboutIntroduce">Yue-Ming Chen,called Rach, grinding his teeth, approached the door. His legs felt like bricks as he turned the knob. This is a great description of a old man called Tom who lives alone and rarely goes out. And one day a newcomer/person knocks on his door.</br>"Great idea when character description comes up in homework!"</p>
	<img class="shadow" src="img/lee.png">
	<p class="aboutP"><i>Yen-Hui Lee</i></p>
	<p class="aboutIntroduce">Yue-Ming Chen,called Rach, grinding his teeth, approached the door. His legs felt like bricks as he turned the knob. This is a great description of a old man called Tom who lives alone and rarely goes out. And one day a newcomer/person knocks on his door.</br>"Great idea when character description comes up in homework!"</p>
</section>