<section>
	<div class="title">Acitivety List</div>
	<div class="divider context short"></div>
	<div class="title list">
		Past Acitivety
		<ol class="listTitle ">
			<li><a href="#StudentParty" onclick="toDetail('StudentParty')">
			Student Party,9,Dec,15</a></li>
			<li><a href="#Djinthenight" onclick="toDetail('Djinthenight')">
			Dj in the night,8,Otc,15</a></li>
			<li><a href="#StudentDiscipline" onclick="toDetail('StudentDiscipline')">
			Suck Party,18,Dec,15</a></li>
		</ol>
	</div>
	
	<div class="divider short context"></div>
	<div class="title list">
		Newsest Acitivety
		<ol class="listTitle">
			<li><a href="#Baseketballclub" onclick="toDetail('Baseketballclub')">
			Shame on you come on,12,Mar,16</a></li>
			<li><a href="#Baseballclub<" onclick="toDetail('Baseballclub')">
			"Mortallity" Taipei Tech Orchestra,11,May,16</a></li>
		</ol>
	</div>
	
	<div class="divider short context"></div>
</section>
<script src="scripts/controller/actCtrl.js" type="text/javascript"></script>