<section>
	<div class="title" id="clubTitle"></div>
	<div class="divider short context"></div>
	<div class="gallery">
		<img class="DetailImg left" src="" id="DetailImg">
		<p class="DetailSubTitle" id="DetailTime"></p>
		<p class="DetailSubTitle" id="DetailContact"></p>
		<p class="DetailSubTitle" id="DetailLocation"></p>
		<p class="DetailSubTitle" id="Detailjoiinfee"></p>
		<p class="discription" id="DetailDiscription"></p>
	</div><!--gallery-->
</section>
<script src="scripts/controller/clubDetailCtrl.js" type="text/javascript"></script>