<section>
	<div class="title">Clubs List</div>
	<div class="divider context short"></div>
	<div class="title list">
		Academic Clubs
		<ol class="listTitle ">
			<li><a href="#StudentAssociation" onclick="toDetail('StudentAssociation')">
			Student Association</a></li>
			<li><a href="#StudentParliament" onclick="toDetail('StudentParliament')">
			Student Parliament</a></li>
			<li><a href="#StudentDiscipline" onclick="toDetail('StudentDiscipline')">
			Student Discipline</a></li>
		</ol>
	</div>
	
	<div class="divider short context"></div>
	<div class="title list">
		Sports Clubs
		<ol class="listTitle">
			<li><a href="#Baseketballclub" onclick="toDetail('Baseketballclub')">
			Baseketball club</a></li>
			<li><a href="#Baseballclub<" onclick="toDetail('Baseballclub')">
			Baseball club</a></li>
			<li><a href="#Footballclub" onclick="toDetail('Footballclub')">
			Football club</a></li>
		</ol>
	</div>
	
	<div class="divider short context"></div>
	<div class="title list">
		Musical Clubs
		<ol class="listTitle">
			<li><a href="#Orchestraclub" onclick="toDetail('Orchestraclub')">
			Orchestra club</a></li>
			<li><a href="#Pianoclub" onclick="toDetail('Pianoclub')">
			Piano club</a></li>
			<li><a href="#ChineseOrchestraclub" onclick="
			toDetail('ChineseOrchestraclub')">Chinese Orchestra club</a></li>
		</ol>
	</div>
	
	<div class="divider short context"></div>
</section>
<script src="scripts/controller/clubCtrl.js" type="text/javascript"></script>